body {
    margin: 0;
    height: 100vh;
}

canvas {
    display: block;
}

p {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #2e2e2e;
    width: auto;
    padding: .2em;
}