body {
    margin: 0;
    height: 100vh;
}

canvas {
    display: block;
}

p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: #5A5A5A;
    width: auto;
    padding: .2em;
}

.img {
    object-fit: none;
}